
//----------
// Color Setting
//----------
$default : #222
$point1 : #B61B2D
$point2 : #1568a1
$point3 : #43a7ed
$point4 : #ac01ea
$point5 : #ffaced
$gray1 : #ddd
$gray2 : #555
$gray3 : #7d7d7d
$gray4 : #999
$gray5 : #aaa
$gray6 : #ccc
$gray7 : #eee
$gray8 : #f6f6f6
$bk : #222  

* 
  margin: 0
  padding: 0
  border: 0
  outline: 0
  background-color: transparent
  box-sizing: border-box
  -webkit-box-sizing: border-box
  background-position: 50% 50%
  background-repeat: no-repeat
  background-size: cover
  line-height: 1.6em
body, a, a:hover 
  color: $default
  text-decoration: none
body
  font-size: 18px

header,
footer,
nav,
aside,
section,
article 
  display: block
ol,
ul 
  list-style-type: none

img 
  width: 100%
  border: 0

table 
  width: 100%
  border-collapse: collapse
  border-spacing: 0

td,
th 
  border: 1px solid $gray1
  border-width: 1px 0


@media screen and (max-width: 767px)
  body 
    font-size: 14px