@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Raleway", "Noto Sans KR", san-serif;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.ff-1 {
  font-family: "Raleway", "Noto Sans KR", san-serif;
}

.ff-2 {
  font-family: "Raleway", "Noto Sans KR", san-serif;
}

body {
  font-family: "Raleway", "Noto Sans KR", san-serif;
}

.wrap {
  width: 70%;
  max-width: 1500px;
  margin: auto;
}

.blind {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  left: -9999px;
  top: -9999px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.tp-on-mo {
  display: none;
}

.tp-on-pc {
  display: inherit;
}

@media screen and (max-width: 767px) {
  .tp-on-mo {
    display: block;
  }
  .wrap {
    width: 94%;
  }
}

@media screen and (max-width: 1023px) {
  .tp-on-pc {
    display: none;
  }
}

.text-white {
  color: #fff;
}

.text-bk {
  color: #000;
}

.text-point1 {
  color: #B61B2D;
}

.text-point2 {
  color: #1568a1;
}

.text-point3 {
  color: #43a7ed;
}

.text-point4 {
  color: #ac01ea;
}

.text-point5 {
  color: #ffaced;
}

.text-gray1 {
  color: #2c2c2c;
}

.text-gray2 {
  color: #555;
}

.text-gray3 {
  color: #7d7d7d;
}

.text-gray4 {
  color: #999;
}

.text-gray5 {
  color: #aaa;
}

.text-gray6 {
  color: #ccc;
}

.text-gray7 {
  color: #eee;
}

.text-gray8 {
  color: #f6f6f6;
}

.bgc-white {
  background-color: #fff;
}

.bgc-point1 {
  background-color: #B61B2D;
}

.bgc-point2 {
  background-color: #1568a1;
}

.bgc-point3 {
  background-color: #43a7ed;
}

.bgc-point4 {
  background-color: #ac01ea;
}

.bgc-point4 {
  background-color: #ffaced;
}

.bgc-gray1 {
  background-color: #2c2c2c;
}

.bgc-gray2 {
  background-color: #555;
}

.bgc-gray3 {
  background-color: #7d7d7d;
}

.bgc-gray4 {
  background-color: #999;
}

.bgc-gray5 {
  background-color: #aaa;
}

.bgc-gray6 {
  background-color: #ccc;
}

.bgc-gray7 {
  background-color: #eee;
}

.bgc-gray8 {
  background-color: #f6f6f6;
}

.bdc-white {
  border-color: #fff;
}

.bdc-point1 {
  border-color: #B61B2D;
}

.bdc-point2 {
  border-color: #1568a1;
}

.bdc-point3 {
  border-color: #43a7ed;
}

.bdc-point4 {
  border-color: #ac01ea;
}

.bdc-point5 {
  border-color: #ffaced;
}

.bdc-gray1 {
  border-color: #2c2c2c;
}

.bdc-gray2 {
  border-color: #555;
}

.bdc-gray3 {
  border-color: #7d7d7d;
}

.bdc-gray4 {
  border-color: #999;
}

.bdc-gray5 {
  border-color: #aaa;
}

.bdc-gray6 {
  border-color: #ccc;
}

.bdc-gray7 {
  border-color: #eee;
}

.bdc-gray8 {
  border-color: #f6f6f6;
}

.bdtc-white {
  border-top-color: #fff;
}

.bdtc-point1 {
  border-top-color: #B61B2D;
}

.bdtc-point2 {
  border-top-color: #1568a1;
}

.bdtc-point3 {
  border-top-color: #43a7ed;
}

.bdtc-point4 {
  border-top-color: #ac01ea;
}

.bdtc-point5 {
  border-top-color: #ffaced;
}

.bdtc-gray1 {
  border-top-color: #2c2c2c;
}

.bdtc-gray2 {
  border-top-color: #555;
}

.bdtc-gray3 {
  border-top-color: #7d7d7d;
}

.bdtc-gray4 {
  border-top-color: #999;
}

.bdtc-gray5 {
  border-top-color: #aaa;
}

.bdtc-gray6 {
  border-top-color: #ccc;
}

.bdtc-gray7 {
  border-top-color: #eee;
}

.bdtc-gray8 {
  border-top-color: #f6f6f6;
}

.bdbc-white {
  border-bottom-color: #fff;
}

.bdbc-point1 {
  border-bottom-color: #B61B2D;
}

.bdbc-point2 {
  border-bottom-color: #1568a1;
}

.bdbc-point3 {
  border-bottom-color: #43a7ed;
}

.bdbc-point4 {
  border-bottom-color: #ac01ea;
}

.bdbc-point5 {
  border-bottom-color: #ffaced;
}

.bdbc-gray1 {
  border-bottom-color: #2c2c2c;
}

.bdbc-gray2 {
  border-bottom-color: #555;
}

.bdbc-gray3 {
  border-bottom-color: #7d7d7d;
}

.bdbc-gray4 {
  border-bottom-color: #999;
}

.bdbc-gray5 {
  border-bottom-color: #aaa;
}

.bdbc-gray6 {
  border-bottom-color: #ccc;
}

.bdbc-gray7 {
  border-bottom-color: #eee;
}

.bdbc-gray8 {
  border-bottom-color: #f6f6f6;
}

.bdlc-white {
  border-left-color: #fff;
}

.bdlc-point1 {
  border-left-color: #B61B2D;
}

.bdlc-point2 {
  border-left-color: #1568a1;
}

.bdlc-point3 {
  border-left-color: #43a7ed;
}

.bdlc-point4 {
  border-left-color: #ac01ea;
}

.bdlc-point5 {
  border-left-color: #ffaced;
}

.bdlc-gray1 {
  border-left-color: #2c2c2c;
}

.bdlc-gray2 {
  border-left-color: #555;
}

.bdlc-gray3 {
  border-left-color: #7d7d7d;
}

.bdlc-gray4 {
  border-left-color: #999;
}

.bdlc-gray5 {
  border-left-color: #aaa;
}

.bdlc-gray6 {
  border-left-color: #ccc;
}

.bdlc-gray7 {
  border-left-color: #eee;
}

.bdlc-gray8 {
  border-left-color: #f6f6f6;
}

.bdrc-white {
  border-right-color: #fff;
}

.bdrc-point1 {
  border-right-color: #B61B2D;
}

.bdrc-point2 {
  border-right-color: #1568a1;
}

.bdrc-point3 {
  border-right-color: #43a7ed;
}

.bdrc-point4 {
  border-right-color: #ac01ea;
}

.bdrc-point5 {
  border-right-color: #ffaced;
}

.bdrc-gray1 {
  border-right-color: #2c2c2c;
}

.bdrc-gray2 {
  border-right-color: #555;
}

.bdrc-gray3 {
  border-right-color: #7d7d7d;
}

.bdrc-gray4 {
  border-right-color: #999;
}

.bdrc-gray5 {
  border-right-color: #aaa;
}

.bdrc-gray6 {
  border-right-color: #ccc;
}

.bdrc-gray7 {
  border-right-color: #eee;
}

.bdrc-gray8 {
  border-right-color: #f6f6f6;
}

.w-30per {
  width: 30%;
}

.w-40per {
  width: 40%;
}

.w-80per {
  width: 80%;
}

.w-100per {
  width: 100%;
}

.w-sss {
  width: 40%;
}

.w-ss {
  width: 60%;
}

.w-s {
  width: 80%;
}

.w-m {
  width: 100%;
}

.w-l {
  width: 120%;
}

.w-ll {
  width: 150%;
}

.w-lll {
  width: 200%;
}

.h-100per {
  height: 100%;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-b {
  display: block;
}

.d-ib {
  display: inline-block;
}

.d-in {
  display: inline;
}

.m-20-0 {
  margin: 20px 0;
}

.m-30-0 {
  margin: 30px 0;
}

.mt-a {
  margin-top: auto;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-200 {
  margin-top: 200px;
}

.mb-a {
  margin-bottom: auto;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.ml-a {
  margin-left: auto;
}

.ml-20per {
  margin-left: 20%;
}

.mr-a {
  margin-right: auto;
}

.mr-5 {
  margin-right: 5px;
}

.pd-5-0 {
  padding: 5px 0;
}

.pd-20-0 {
  padding: 20px 0;
}

.pd-50-0 {
  padding: 50px 0;
}

.pd-0-5 {
  padding: 0 5px;
}

.pd-0-10 {
  padding: 0 10px;
}

.pd-0-20 {
  padding: 0 20px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.pr-20 {
  padding-right: 20px;
}

.bd-0 {
  border: 0 !important;
}

.bd-1 {
  border-width: 1px;
  border-style: solid;
}

.bdt-1 {
  border-top-width: 1px;
  border-top-style: solid;
}

.bdb-1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.bdl-1 {
  border-left-width: 1px;
  border-left-style: solid;
}

.bdr-1 {
  border-right-width: 1px;
  border-right-style: solid;
}

.ta-l {
  text-align: left;
}

.ta-r {
  text-align: right;
}

.ta-c {
  text-align: center;
}

.fz-sss {
  font-size: 0.6em;
}

.fz-ss {
  font-size: 0.8em;
}

.fz-s {
  font-size: 0.9em;
}

.fz-m {
  font-size: 1em;
}

.fz-l {
  font-size: 1.2em;
}

.fz-ll {
  font-size: 1.5em;
}

.fz-lll {
  font-size: 2em;
}

.fz-48 {
  font-size: 48px;
}

.fz-60 {
  font-size: 60px;
}

.fz-80 {
  font-size: 80px;
}

.fz-100 {
  font-size: 100px;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.ti-5 {
  text-indent: 5px;
}

.ti-10 {
  text-indent: 10px;
}

.ti-20 {
  text-indent: 20px;
}

.ti--5 {
  text-indent: -5px;
}

.ti--10 {
  text-indent: -10px;
}

.ti--20 {
  text-indent: -20px;
}

.lh-1em {
  line-height: 1em;
}

.lh-12em {
  line-height: 1.2em;
}

.lh-15em {
  line-height: 1.5em;
}

.lh-2em {
  line-height: 2em;
}

.pos-abs {
  position: absolute;
}

.pos-rel {
  position: relative;
}

.pos-sta {
  position: static;
}

.pos-fix {
  position: fixed;
}

.pos-sti {
  position: -webkit-sticky;
  position: sticky;
}

.t-0 {
  top: 0;
}

.b-0 {
  bottom: 0;
}

.b--50 {
  bottom: -50px;
}

.b--100 {
  bottom: -100px;
}

.l-0 {
  left: 0;
}

.r-0 {
  right: 0;
}

.time-03 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.time-035 {
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.time-05 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.time-1 {
  -webkit-transition: 1s;
  transition: 1s;
}

.f-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.f-wrap-r {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.jus-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.jus-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jus-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.jus-bet {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jus-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ali-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ali-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.ali-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
/*# sourceMappingURL=1-asset.css.map */