@import 0_1_setting_color
@import 0_2_setting_font
@import 0_3_setting_size
  
//----------
// Banner
//----------
.banner-main-wrap
  padding-bottom: 0
.banner-main
  height: 100%
  padding: 50px 0


//----------
// Box
//----------
.box-center
  display: flex
  justify-content: center
  align-items: center

$dlWidth: 70px
$dl2Width: 50%
dl.box-dl
  display: flex
  flex-wrap: wrap
  padding: 10px 20px
  >*
    border-bottom: 1px solid #000
    padding: 5px 10px
    margin-bottom: 10px
  dt
    width: $dlWidth
  dd
    width: calc( 100% - #{$dlWidth} )
    padding-left: 0
    font-weight: 600
    &::before
      content: ':'
      display: inline-block
      margin-right: 10px

dl.box-dl2
  dt
    width: $dl2Width
  dd
    width: calc( 100% - #{$dl2Width} )



@media screen and (max-width: 767px)
  #Sec01.banner-main-wrap
    height: 300px