@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.text-point1 {
  color: #B61B2D;
}

.bgc-point1 {
  background-color: #B61B2D;
}

.bdc-point1 {
  border-color: #B61B2D;
}

.text-point2 {
  color: #1568a1;
}

.bgc-point2 {
  background-color: #1568a1;
}

.bdc-point2 {
  border-color: #1568a1;
}

.text-point3 {
  color: #43a7ed;
}

.bgc-point3 {
  background-color: #43a7ed;
}

.bdc-point3 {
  border-color: #43a7ed;
}

.text-point4 {
  color: #ac01ea;
}

.bgc-point4 {
  background-color: #ac01ea;
}

.bdc-point4 {
  border-color: #ac01ea;
}

.text-point5 {
  color: #ffaced;
}

.bgc-point5 {
  background-color: #ffaced;
}

.bdc-point5 {
  border-color: #ffaced;
}

.text-gray1 {
  color: #1a1a1a;
}

.bgc-gray1 {
  background-color: #1a1a1a;
}

.bdc-gray1 {
  border-color: #1a1a1a;
}

.text-gray2 {
  color: #2c2c2c;
}

.bgc-gray2 {
  background-color: #2c2c2c;
}

.bdc-gray2 {
  border-color: #2c2c2c;
}

.text-gray3 {
  color: #4d4d4d;
}

.bgc-gray3 {
  background-color: #4d4d4d;
}

.bdc-gray3 {
  border-color: #4d4d4d;
}

.text-gray4 {
  color: #7e7e7e;
}

.bgc-gray4 {
  background-color: #7e7e7e;
}

.bdc-gray4 {
  border-color: #7e7e7e;
}

.text-gray5 {
  color: #9c9c9c;
}

.bgc-gray5 {
  background-color: #9c9c9c;
}

.bdc-gray5 {
  border-color: #9c9c9c;
}

.text-gray6 {
  color: #a2a2a2;
}

.bgc-gray6 {
  background-color: #a2a2a2;
}

.bdc-gray6 {
  border-color: #a2a2a2;
}

.text-gray7 {
  color: #c8c8c8;
}

.bgc-gray7 {
  background-color: #c8c8c8;
}

.bdc-gray7 {
  border-color: #c8c8c8;
}

.text-gray8 {
  color: #e1e1e1;
}

.bgc-gray8 {
  background-color: #e1e1e1;
}

.bdc-gray8 {
  border-color: #e1e1e1;
}

.text-gray9 {
  color: #f6f6f6;
}

.bgc-gray9 {
  background-color: #f6f6f6;
}

.bdc-gray9 {
  border-color: #f6f6f6;
}

.text-gray10 {
  color: #ffffff;
}

.bgc-gray10 {
  background-color: #ffffff;
}

.bdc-gray10 {
  border-color: #ffffff;
}

@font-face {
  font-family: "Raleway", "Noto Sans KR", san-serif;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.sa {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.sa.show {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

/* 아래에서 위로 페이드 인 */
.sa-up {
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
}

/* 위에서 아래로 페이드 인 */
.sa-down {
  -webkit-transform: translate(0, -100px);
          transform: translate(0, -100px);
}

/* 왼쪽에서 오른쪽으로 페이드 인 */
.sa-right {
  -webkit-transform: translate(-100px, 0);
          transform: translate(-100px, 0);
}

/* 오른쪽에서 왼쪽으로 페이드 인 */
.sa-left {
  -webkit-transform: translate(100px, 0);
          transform: translate(100px, 0);
}

/* 왼쪽으로 회전하면서 페이드 인 */
.sa-rotateL {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* 오른쪽으로 회전하면서 페이드 인 */
.sa-rotateR {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

/* 작아진 상태에서 커지면서 페이드 인 */
.sa-scaleUp {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

/* 커진 상태에서 작아지면서 페이드 인 */
.sa-scaleDown {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.toggle_bgc {
  -webkit-animation: toggle_bgc 2s infinite;
          animation: toggle_bgc 2s infinite;
}

.toggle_bgc_before::before {
  -webkit-animation: toggle_bgc 2s infinite;
          animation: toggle_bgc 2s infinite;
}

.toggle_bgc_after::after {
  -webkit-animation: toggle_bgc 2s infinite;
          animation: toggle_bgc 2s infinite;
}

.hover_toggle_bgc:hover {
  -webkit-animation: toggle_bgc 2s infinite;
          animation: toggle_bgc 2s infinite;
}

.hover_toggle_bgc_before:hover::before {
  -webkit-animation: toggle_bgc 2s infinite;
          animation: toggle_bgc 2s infinite;
}

.hover_toggle_bgc_after:hover::after {
  -webkit-animation: toggle_bgc 2s infinite;
          animation: toggle_bgc 2s infinite;
}

@-webkit-keyframes toggle_bgc {
  0% {
    background-color: rgba(255, 255, 255, 0.6);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.2);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

@keyframes toggle_bgc {
  0% {
    background-color: rgba(255, 255, 255, 0.6);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.2);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.slider-text {
  overflow: hidden;
}

.slider-text ol {
  height: 300%;
}

.slider-text1 ol {
  -webkit-animation: slide-text1 9s infinite;
          animation: slide-text1 9s infinite;
}

.slider-text2 ol {
  -webkit-animation: slide-text2 9s infinite;
          animation: slide-text2 9s infinite;
}

.slider-text3 ol {
  height: 200%;
  -webkit-animation: slide-text3 6s infinite;
          animation: slide-text3 6s infinite;
}

@-webkit-keyframes slide-text1 {
  0% {
    margin-top: 0;
  }
  29% {
    margin-top: 0;
  }
  33% {
    margin-top: -96px;
  }
  62% {
    margin-top: -96px;
  }
  66% {
    margin-top: -192px;
  }
  95% {
    margin-top: -192px;
  }
  99% {
    margin-top: -288px;
  }
  100% {
    margin-top: -288px;
  }
}

@keyframes slide-text1 {
  0% {
    margin-top: 0;
  }
  29% {
    margin-top: 0;
  }
  33% {
    margin-top: -96px;
  }
  62% {
    margin-top: -96px;
  }
  66% {
    margin-top: -192px;
  }
  95% {
    margin-top: -192px;
  }
  99% {
    margin-top: -288px;
  }
  100% {
    margin-top: -288px;
  }
}

@-webkit-keyframes slide-text2 {
  0% {
    margin-top: 0;
  }
  29% {
    margin-top: 0;
  }
  33% {
    margin-top: -50px;
  }
  62% {
    margin-top: -50px;
  }
  66% {
    margin-top: -100px;
  }
  95% {
    margin-top: -100px;
  }
  99% {
    margin-top: -150px;
  }
  100% {
    margin-top: -150px;
  }
}

@keyframes slide-text2 {
  0% {
    margin-top: 0;
  }
  29% {
    margin-top: 0;
  }
  33% {
    margin-top: -50px;
  }
  62% {
    margin-top: -50px;
  }
  66% {
    margin-top: -100px;
  }
  95% {
    margin-top: -100px;
  }
  99% {
    margin-top: -150px;
  }
  100% {
    margin-top: -150px;
  }
}

@-webkit-keyframes slide-text3 {
  0% {
    bottom: 0;
  }
  43.5% {
    bottom: 0;
  }
  50% {
    bottom: 150px;
  }
  93.5% {
    bottom: 150px;
  }
  100% {
    bottom: 300px;
  }
}

@keyframes slide-text3 {
  0% {
    bottom: 0;
  }
  43.5% {
    bottom: 0;
  }
  50% {
    bottom: 150px;
  }
  93.5% {
    bottom: 150px;
  }
  100% {
    bottom: 300px;
  }
}
/*# sourceMappingURL=3-ani.css.map */